<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to River Subtitles</h3>
    <p>Dear <%= @user.username %>,</p>
    <p>
      You have successfully signed up to <a href="<%= @url %>"></a><%= @url %>,
    </p>

    <p>
      If you have any questions or feedback, feel free to contact me at <a href="mailto:redge.tan@gmail.com">redge.tan@gmail.com</a>
    </p>
    </br>

    <p>Happy Subtitling,</p>

    <p>Reginald Tan</p>
  </body>
</html>
