<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to River Subtitles</h1>
    <h1>Dear <%= @user.username %>,</h1>
    <p>
      You have successfully signed up to <%= @url %>,
    </p>

    <p>
      If you have any questions or feedback, feel free to contact me at <a href="mailto:redge.tan@gmail.com">redge.tan@gmail.com</a>
    </p>

    Happy Subtitling,

    Reginald Tan
  </body>
</html>
