<div class='latest_activity_container'>
  <div class="section_block">
    <div class="section_header">
      Activity
    </div>
    <div class="section_body">
      <%= render_activities(@activities) %>
    </div>
  </div>
</div>
