<div class='action_container section_block <%= @group.is_member?(current_user) ? "joined" : "" %>'>
  <div class="section_header">
    Controls
  </div>
  <div class="section_body">
    <div class=''>
      <a href="#" data-toggle="modal" data-target="#subtitle_modal" class="subtitle_video_btn ">Subtitle a Video</a>
      <a href="<%= @group.new_request_url %>" class="request_btn ">Request Subtitle</a>
    </div>
  </div>
</div>

