<div id='comments_container' class='section_body'>
  <p>Comments</p>
  <ol class="comments comments1">
    <li style=""><%= render "comments/commentbox", :comment => @comment %></li>
    <%= render "comments/commentlist" %>
  </ol>
</div>
