<% @number_of_groups ||= -1 %>

<div class='home_group_list_container col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1'>
  <% Group.all.sort_by { |group| group.members.count }.reverse[0..@number_of_groups].each_slice(5) do |groups| %>
    <div class='home_group_row'>
      <% groups.each do |group| %>
        <a href="<%= group.url %>" class="home_group_item col-md-2 col-xs-12">
          <div class='avatar' >
            <div class="thumbnail">
              <%= image_tag group.avatar.url  %>
            </div>
          </div>
          <span class="title river_gray"><%= group.name %></span>
          <p class='group_description'>
            <%= group.read_attribute(:description) %>
          </p>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
