<% num_of_columns ||= 5 %>
<% @groups.each_slice(num_of_columns) do |groups| %>
  <div class='home_group_row'>
    <% groups.each do |group| %>
      <a href="<%= group.url %>" class="home_group_item col-md-2 col-xs-12">
        <div class='avatar' >
          <div class="thumbnail">
            <%= image_tag group.avatar.url  %>
          </div>
        </div>
        <span class="title river_gray"><%= group.name %></span>
        <p class='group_description'>
          <%= group.read_attribute(:description) %>
        </p>
      </a>
    <% end %>
  </div>
<% end %>
