<div class='members_container'>
  <div class="section_block">
    <div class="section_body">
      <% @group.members.each do |member| %>
        <div class='member ' data-toggle="tooltip" title="<%= member.username %>">
          <a class="user_avatar" href="<%= member.url %>">
            <%= image_tag member.avatar_url %>
          </a>
        </div>
      <% end %>
      <% unless @group.is_member?(current_user) %>
        <%= link_to "Join Group", @group.join_url, method: "post", class: "join_group_btn" %>
      <% end %>
    </div>
  </div>
</div>
