<h3 class="group_releases_header river_gray col-xs-offset-2">
  Members
</h3>
<div class='row group_members_container'>
  <div class="col-xs-8 col-xs-offset-2">
    <ul>
      <% @group.members.each do |member| %>
        <li>
          <a href="<%= member.url %>" >
            <%= image_tag member.avatar_url %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
