<div class='request_field social_share_original_container'>
  <div class='request_field_key social_share_original_label'>
    Social:
  </div>
  <div class='request_field_value social_share_original_value' >
    <div class="fb-share-button" data-href="<%= sharable.url %>" data-layout="button"></div>
    <a href="https://twitter.com/share?url=<%= sharable.url %>&text=<%= CGI.escape(sharable.share_text) %>" target="_blank" class="twitter-share-button">Tweet</a>
  </div>
</div>

