<table class='topics_table col-md-9 col-md-offset-2 col-xs-10 col-xs-offset-1'>
  <tr>
    <th>Topic</th>
    <th>Subtitles</th>
    <th>Description</th>
  </tr>
  <% @groups.each do |group| %>
    <tr onclick="document.location = '<%= group.url %>';">
      <td><span class='group_name'><%= group.name %></span></td>
      <td><%= group.repo_count %></td>
      <td><span class='group_description'><%= truncate(group.raw_description, length: 100) %></span></td>
    </tr>
  <% end %>
</table>

