<div class='groups_videos videos videos_container section_block'>
  <div class='center'>
    <a href="#" data-toggle="modal" data-target="#subtitle_modal" class="subtitle_video_btn ">+ Subtitle a Video</a>
  </div>

  <div class='request_categories'>
    Status: 
    <%= select_tag("user_submission_category_select", options_for_select(@group.user_submission_category_select_options, request.url + "#user_submissions"), class: "user_submission_category_select") %>
  </div>
  
  <div class="home_try section_body">
    <% @group_repos.each_slice(4) do |repos| %>
      <%= render partial: "repositories/list", locals: {repos: repos, repo_width: "col-md-3", show_import_actions: true}  %>
    <% end %>
  </div>
  <%= paginate @group_repos %>
</div>
