<div class='header-section col-xs-12'></div>
<div class="background"></div>
<div class='container'>
  <div class='row'>
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Edit group</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @group %> 
    </div>
  </div>

  <div class='header-section col-xs-12'></div>

</div>
