<div class='header-section col-xs-12'></div>
<div class="background"></div>
<div class='container'>

  <div class='row center'>
    <div class="col-xs-8">
      <span class="title river_gray">Groups</span>
    </div>
  </div>

  <div class='group_list row'>
    <div class="col-xs-8 col-xs-offset-2">
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @groups.each do |group| %>
        <tr>
          <td class="group_name"><a href="<%= group.url %>"><%= group.name %></a></td>
          <td class="group_description"><%= group.description %></td>
        </tr>
      <% end %>
      </table>

      <br />

      <%= link_to 'Create Group', new_group_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class='header-section col-xs-12'></div>

</div>
