<div class='header-section col-xs-12'></div>
<div class="background"></div>
<div class='group_index_container container'>

  <div class='center'>
  </div>

  <div class='group_list row'>
    <div class="center">
      <br>
      <br>
      <%= link_to '+ Create topic', new_group_path, class: "new_group_btn btn btn-danger" %>
    </div>
      

    <div class='home_group_list_container col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1'>
      <%= render "groups/list" %>
    </div>
  </div>


  <div class='header-section col-xs-12'></div>

</div>
