<div class='header-section col-xs-12'></div>
<div class="background"></div>
<div class='group_index_container container'>

  <div class='center'>
  </div>

  <div class='group_list row'>
    <div class="center">
      <!-- <h2>List of Groups</h2> -->
      <br>
      <br>
      <%= link_to '+ Create your group', new_group_path, class: "new_group_btn btn btn-danger" %>
    </div>
      
     <%= render "groups/list" %>
  </div>


  <div class='header-section col-xs-12'></div>

</div>
