<div class='header-section span12'></div>
<div class="background"></div>
<div class='container'>
  <div class='row center'>
    <div class="span12">
      <span class="title river_gray"><%= @group.name %></span>
      <p>
        <%= @group.description %>
      </p>
      <p>
        <span>[<%= link_to 'Edit', edit_group_path(@group) %>]</span>
      </p>
    </div>

  </div>
  <div class='row'>

    <div class="span8 offset2">

    </div>
  </div>
</div>
