<div class='header-section col-xs-12'></div>

<div id='user_corrections' class=''>
  <div class='row'>
    <% if @user.correction_requests_sent.length > @user.correction_requests_received.length %> 
      <%= render "user_corrections_sent" %>
      <div class='header-section col-xs-12'></div>
      <%= render "user_corrections_received" %>
    <% else %>
      <%= render "user_corrections_received" %>
      <div class='header-section col-xs-12'></div>
      <%= render "user_corrections_sent" %>
    <% end %>
  </div>
</div>

