<div class='header-section col-xs-12'></div>

<div id='user_groups' class='col-xs-8 col-xs-offset-2'>
  <div class='row user_groups_container'>
    <div class='user_groups_container'>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to '+ Create Group', new_group_path, class: "new_group_btn col-xs-offset-4" %>
      <% end %>
      <% @user.groups.each do |group| %>
        <div class='user_group'>
          <a href="<%= group.url %>" class='user_group'><%= group.name %></a>
          -
          <%= group.description %>
        </div>
      <% end %>
    </div>
  </div>
</div>
