<div class='header-section col-xs-12'></div>

<div id='comments_container' class='col-xs-8 col-xs-offset-2'>
  <p>Comments</p>
  <ol class="comments comments1">
    <li style=""><%= render "comments/commentbox", :comment => @comment %></li>
    <%= render "comments/commentlist" %>
  </ol>
</div>
