<div class='header-section span12'></div>
<div class='container '>
    <div class='row'>
        <div class='span4 offset4'>
            <h3>Forgot your password?</h3>

            <%= form_for(resource, :as => resource_name, :url => password_url(resource_name), :html => { :method => :post }) do |f| %>
              <%= devise_error_messages! %>

              <%= f.text_field :login, :placeholder => 'Username or Email' %>

              <div><%= f.submit "Send me reset password instructions", :class => 'btn btn-info' %></div>
            <% end %>

        </div>
    </div>
</div>
