<% if repo.comments.present? %>
  <div class='pull-left'>

    <span class=''><%= repo.comments.count %> comments</span>
  </div>
<% end %>
<% if repo.comments.present? && repo.points > 0 %>
  <div class='divider_line_river pull-left'>
    |
  </div>
<% end %>
<% if repo.points > 0 %>
  <div class='pull-left'>
    <span class=''><%= repo.points %> points</span>
  </div>
<% end %>
