<div id='media_container'>
  <div id='viewing_screen' >
    <div id='iframe_container'>
      <div id='iframe_overlay'>
      </div>
      <div id='overlay_btn'><i class='glyphicon glyphicon-play'></i></div>
    </div>
    <div id='subtitle_bar' class='center'>
      <div id='subtitle_display' class='center'></div>
    </div>
  </div>
  <div id='time_float'></div>
</div>
