<div id='comments_container'>
  <!-- <p class='comments_container_header'>Comments (<%= @repo.comments.count %>)</p> -->
  <ol class="comments comments1">
    <li class="comment_box_item">
      <div class='comment_avatar thumbnail' style='border: solid 1px lightgray;'>
        <%= image_tag(current_user.try(:avatar).try(:url) || "/assets/fallback/default.png") %>  
      </div>
      <%= render "comments/commentbox", :comment => @comment, :custom_class => "primary" %>
    </li>
    <%= render "comments/commentlist" %>
  </ol>
</div>
