<div id="player_details">

  <div class='tab-content'>
    <div class="tab-pane <%= @repo.comments_tab_class %>" id='comments_tab'>
      <div id='comments_container'>
        <ol class="comments comments1">
          <li><%= render "comments/commentbox", :comment => @comment %></li>
          <%= render "comments/commentlist" %>
        </ol>
      </div>
    </div>

    <div class="tab-pane <%= @repo.transcript_tab_class %>" id='transcript_tab'>
      <div id='transcript_container'>
        <div id='subtitle_list'></div>
      </div>
    </div>

  </div>
</div>

