<% if @repo %>
  <div class="export_subtitle_container">
    <b>How to make the subtitle available in the original video</b>
    <br>
    <% if @repo.is_youtube_imported? %>
      <br>
      <p>The subtitle have already been added to the <a class='yt_imported_label' href="<%= @repo.source_url %>">original youtube video</a></p>
    <% else %>
      <% if @repo.belong_to_producer?(current_user)  %>
        <br>
        <%= link_to("Import to Youtube", @repo.import_to_youtube_url, method: "post", class: "btn btn-danger btn-xs") %>
      <% else %>
        <p>If you are the owner of this video, you can add the subtitle to the original youtube video.</p>
        <ul class="">
          <li>Signup <a href="<%= new_user_registration_url(role: "producer") %>">here</a> and after linking your youtube account, you'll be able to import subtitles in one-click. </li>
          <br>
          <span>or</span>
          <br>
          <br>
          <li>You can download the <a href="<%= @repo.subtitle_download_url %>">subtitle</a> and upload to the original youtube video manually</li>
        </ul>
      <% end %>
    <% end %>
    <p style=""></p>
    <br>
<!--     <b>Method 1: Youtube Sync</b>
    <ol class="youtube_sync_method">
      <li>If you own this video, we allow you to instantly link the subtitle to the original video</li>
      <li>Try it now - <a class="btn btn-xs btn-danger export_subtitle_btn" href="">Sync to Youtube</a></li>
    </ol>
    <br>
 -->    
  </div>
<% end %>