<div id="player_details">
  <ul class="nav nav-tabs" >
    <li class="<%= @repo.try(:is_downloadable?) ? "col-xs-6" : "is_not_downloadable col-xs-12" %> active"><a href="#transcript" data-toggle="tab">Transcript</a></li>
    <% if @repo.try(:is_downloadable?) %>
      <li class="col-xs-6"><a href="#import" data-toggle="tab">Import</a></li>
    <% end %>
  </ul>

  <div class='tab-content'>
    <div class="tab-pane <%= @repo ? @repo.transcript_tab_class : "" %>" id='transcript'>
      <div id='transcript_container'>
        <div id='subtitle_list'></div>
      </div>
    </div>

    <% if @repo.try(:is_downloadable?) %>
      <div class="tab-pane" id='import'>
        <%= render 'videos/player_export' %>
      </div>
    <% end %>

  </div>
</div>

