<div id='comments_container'>
  <p>Comments</p>
  <ol class="comments comments1">
    <li style="margin-bottom: -30px;"><%= render "comments/commentbox", :comment => @comment %></li>
    <%= render "comments/commentlist" %>
  </ol>
</div>
