<div class="export_subtitle_container">
  <p style="">If you are the owner of this video, you can sync this subtitle directly to the original youtube video</p>
  <br>
  <a class="btn btn-danger export_subtitle_btn" href="">Sync to Youtube</a>
</div>