<% if @repo.request %>
  <div class='request_details_container'>
    <span class='pull-left request_details_label'>Request: </span>
    <span class='request_details_value'><%= @repo.request.details %></span>
  </div>
<% end %>
