<div id='media_container' class="<%= @repo ? @repo.video.definition : "" %>">
  <div id='viewing_screen' >
    <div id='iframe_container'>
      <div id='iframe_overlay'></div>
      <div id='overlay_btn'>
        <!-- <i class='fa fa-play'></i> -->
        <span class='player_loading_notice'>Loading...</span>
      </div>
    </div>
    <div id='subtitle_bar' class='center'>
      <pre id='subtitle_display' class='center'></pre>
      <pre id='subtitle_original_display' class='center'></pre>
    </div>
  </div>
</div>
