<div id='comments_container' style='margin-top: 50px;'>
  <p style='font-size: 20px;'>Comments</p>
  <ol class="comments comments1">
    <li style="margin-bottom: -30px;"><%= render "comments/commentbox", :comment => @comment %></li>
    <%= render "comments/commentlist" %>
  </ol>
</div>
