<div id='media_container'> 
  <div id='viewing_screen' >
    <div id='iframe_container'>
      <div id='iframe_overlay'>
      </div>
      <div id='overlay_btn'><i class='icon-play'></i></div>
    </div>
    <div id='subtitle_bar' class='span10 center'>
      <div id='subtitle_display' class='center'></div>
    </div>
  </div>
  <div id='time_float'></div>
  <div id='seek_head'>
    <div id='seek_head_corner'></div>
    <div id='seek_head_body'></div>
  </div>
  <div id='blackbar'></div>
</div> 
