<% set_meta_tags :site => 'Yasub', :title => "#{@repo.video.name}", :description => "Add/Edit Captions or Subtitles for a Youtube Video" %>

<div id='editor_container' data-repo='<%= @repo.serialize.to_json %>'></div>
