<div class='header-section col-md-12'></div>
<div class='container'>
  <div class='row'>
    <div class="col-md-4 col-md-offset-4">
      <div class="create_subtitle center">
        <% if true  %>
          <h3>Create New Subtitle</h3>
          <br/>
          <form class="sub">
            <div class="control-group">
              <div class="input-append">
                <input name="media_url" class="media_url" type="text" placeholder="Paste youtube url">
                <button type="button" class="btn btn-danger sub_btn" data-loading-text="Loading...">Start</button>
              </div>
            </div>
          </form>
        <% else  %>
          <h3>Request Beta Invite</h3>
          <br/>
          <p>In order to use other youtube videos for adding funny subtitles, sign up as a beta-user by submitting your email below.</p>
          <br/>
          <form id='request_beta_invite'>
            <input name="email" class="" type="text" placeholder="email">
            <br/>
            <br/>
            <input type="submit" class="btn btn-danger" data-loading-text="Loading..." value="submit">
          </form>
        <% end  %>
      </div>
    </div>
  </div>
</div>

<div class='header-section col-md-12'></div>
<div class='header-section col-md-12'></div>
