<div class='header-section col-md-12'></div>
<div class='container'>
  <div class='row'>
    <div class="">
      <div class="create_subtitle">
        <% if true  %>
          <h3 class="center">Subtitle Editor</h3>
          <div class="home_about col-md-offset-3 col-md-6 section_block">
            <div class="section_body">
              <p>
                A FREE online subtitle editor that works for any youtube video. Simply paste the youtube url and once you've finished captioning or translating the video, it can be published and viewed by anyone on the web.
              </p>
            </div>
          </div>

          <div class="home_try col-md-offset-3 col-md-6 section_block">
            <div class="section_body">
              <form class="sub">
                <div class="subtitle_video_container input-group">
                  <div class="input-append">
                    <input name="source_url" class="source_url" type="text" placeholder="Paste youtube url">
                    <button type="button" class="river_btn sub_btn" data-loading-text="Loading...">Start</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="home_screenshot col-md-offset-3 col-md-6 section_block">
            <div class="section_body">
              <img class="col-xs-12" src="<%= asset_path('editor_view.png') %>">
            </div>
          </div>

        <% else  %>
          <h3>Request Beta Invite</h3>
          <br/>
          <p>In order to use other youtube videos for adding funny subtitles, sign up as a beta-user by submitting your email below.</p>
          <br/>
          <form id='request_beta_invite'>
            <input name="email" class="" type="text" placeholder="email">
            <br/>
            <br/>
            <input type="submit" class="btn btn-danger" data-loading-text="Loading..." value="submit">
          </form>
        <% end  %>
      </div>
    </div>
  </div>
</div>

<div class='header-section col-md-12'></div>
<div class='header-section col-md-12'></div>
