<div id="subtitle_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subtitle_modal_label" aria-hidden="true">
  <div class="modal-backdrop fade in" style="height: 984px;"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <form class="sub">
          <% if chosen_group %>
            <%= hidden_field_tag :group_id, chosen_group.short_name %>
          <% end %>
          <% if hide_group %>
            <%= hidden_field_tag :hide_group, true %>
          <% end %>
          <div class="subtitle_video_container input-group">
            <div class="input-append">
              <input name="source_url" class="source_url" type="text" placeholder="Paste youtube url">
              <button type="button" class="river_btn sub_btn" data-loading-text="Loading...">Start</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

