<div class='header-section col-xs-12'></div>

<div class='row '>
<div class='features_container section_block col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1'>
  <ul>
    <li>Translation Channel where you can track viewership/shares</li>
    <li>No need to download, re-encode, and re-upload.</li>
    <li>Embed subtitles in external sites</li>
    <li>Customize Font properties as well as the positioning of subtitles</li>
    <li>Because softsubs are simply overlaid to the original video, all traffic you get also goes towards the original uploader</li>
    <li>Organize subtitles according to Topics and collaborate with other subbers</li>
    <li>Video owners can add back subtitles to the original youtube video</li>
    <li>Online Subtitle Editor</li>
    <li>Supports Youtube, Nico Nico Douga, and Vimeo</li>
  </ul>
</div>
</div>

<div class='header-section col-xs-12'></div>
