<div class='container faq'>
  <div class="section_block col-md-10 col-md-offset-1">
    <div class="section_header">
      FAQ
    </div>
    <div class="section_body">
      <ol class=''>
        <li>
          <h4>Who are you?</h4>
          <p>We are a team of fansubbers who aim to promote video content from Japan to global audiences through subtitles</p>
        </li>
        <li>
          <h4>Do you subtitle anime shows ?</h4>
          <p>No. We do not subtitle licensed TV shows/movies. We only subtitle publicly available videos from sites like Youtube, Vimeo, etc.. Also, in order to respect the original owner's work, we only do softsubbing instead of hardsubbing. This means we simply overlay our subtitles to the original video instead of reuploading a subtitle version to a new channel.</p>
        </li>
        <li>
          <h4>How do I join you as a fansubber?</h4>
          <p>Fill out a form in <a href="https://docs.google.com/a/yasub.com/forms/d/1JaAq20lp_OumLTEC80qnZOqii3xrTt7O8H0Rgo39YnA/viewform?usp=send_form">Become a fansubber</a>, and we'll reach out to you.</p>
        </li>
        <li>
          <h4>Time commitment?</h4>
          <p>Up to you. It could be 1-2 hours/week or more if you want to</p>
        </li>
        <li>
          <h4>How else can I help aside from translations?</h4>
          <p>Send us an email (see next question), and we would gladly let you know of other things that we need help with.</p>
        </li>
        <li>
          <h4>I have other questions. How can I reach you?</h4>
          <p>You can reach us at <a href="mailto:info@yasub.com"> info@yasub.com</a></p>
        </li>
      </ol>
    </div>
  </div>
</div>

