<div class='container faq'>
  <div class="section_block col-md-10 col-md-offset-1">
<!--     <div class="section_header">
      FAQ
    </div>
 -->    
    <div class="section_body">
      <p>Use our FREE online subtitle editor to add subs to an exiting youtube video. Then, email us your work at <a href="mailto:info@yasub.com">info@yasub.com</a>, and if we like your work, we'll add you to our translation group or we could simply add your translation to one of our weekly releases while crediting you.</p>
    </div>
  </div>
</div>
<div class='center'>
  <a href="<%= videos_new_url %>" class="btn btn-lg btn-danger">Try Subtitling Now</a>
</div>

