<div id="mc_embed_signup">
  <form action="//yasub.us10.list-manage.com/subscribe/post?u=0fc5ecd1910d529f71c2749c5&amp;id=15b919fa03" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline center" target="_blank" novalidate>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div class="mc-field-group form-group">
      <input type="email" value="" placeholder="me@example.com" name="EMAIL" class="form-control required email" id="mce-EMAIL">
    </div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class='btn btn-primary'>
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_0fc5ecd1910d529f71c2749c5_15b919fa03" tabindex="-1" value="">
    </div>
  </form>
</div>

