<% set_meta_tags :site => 'Riversub', :title => 'About', :description => "A Summary and Demo of Riversub subtitle tool" %>

<div class='container '>
    <div class='row'>
        <div class='span8 offset2'>
            <h2>
                River 
            </h2>
            <p>is an online tool for subtitling youtube videos. To see how it works click on video demo below.</p>

            <h2>
                Demo
            </h2>
            <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/YqbW4BrYkjQ" allowfullscreen frameborder="0">
            </iframe>
            <h2>
                Contact
            </h2>
            <p>
                This is a hobby-project created by <a href="https://twitter.com/redgetan">Reginald Tan</a>. If you have any questions or feedback, feel free to contact me at <a href="mailto:redge.tan@gmail.com">redge.tan@gmail.com</a>
            </p>
        </div>
    </div>
</div>
