<% set_meta_tags :site => 'Riversub', :title => 'About', :description => "A Summary and Demo of Riversub subtitle tool" %>

<div class='container '>
    <div class='row'>
        <div class='span8 offset2'>
            <h2>
                Riversub
            </h2>
            <p>is an online community for people who enjoy subtitling random internet videos. </p>

            <div id='how-it-works'>
              <div id='how-it-works-container' class='container'>
                <div class='row'>
                  <div class="videos span8">
                    <h2>
                        How it Works
                    </h2>
                    This platform allows you to subtitle any youtube video, whether you own the video or not, and share your work for others to see - all you need is a youtube link.

                    </br>
                    </br>
                    To get started, we recommend you try our <a href="<%= @guided_walkthrough_repo.editor_url %>">3 minute Tutorial </a> which will help you get up to speed quickly. If you find this useful and are having fun with it, let us know and any feedback, comments, suggestions are always welcome!</span>
                  </div>
                </div>
              </div>
            </div>
            
            <h2>
                Contact
            </h2>
            <p>
                For questions or feedback, feel free to contact us at <a href="mailto:info@riversub.cc">info@riversub.cc</a>
            </p>
        </div>
    </div>
</div>
