<% set_meta_tags :site => 'Yasub', :title => 'FAQ', :description => "Frequently Asked Questions. Online Subtitle and Closed Captioning Tool for Youtube Videos" %>

<div class='contact_container container '>
  <div class='row'>
    <div class='header-section col-md-12'></div>
    <div class='header-section col-md-12'></div>
    <div class='header-section col-md-12'></div>
    <p class='center'>If you any questions, feedback or requests, feel free to email us at <a href="mailto:info@yasub.com">info@yasub.com</a></p>
    <div class='header-section col-md-12'></div>
    <div class='header-section col-md-12'></div>
    <div class='header-section col-md-12'></div>

  </div>
</div>

