<% set_meta_tags :site => 'Yasub', :title => 'FAQ', :description => "Frequently Asked Questions. Online Subtitle and Closed Captioning Tool for Youtube Videos" %>

<div class='header-section col-md-12'></div>
<div class='container '>
    <div class='row'>

      <div class='center'>
        <h2>
          Contact Us
        </h2>
        <br/>
        <ul>
          <li style="list-style: none;">
            Yasub is currently in beta. Send us an email at <a href="mailto:info@yasub.com">info@yasub.com</a> and we would love to hear your feedback. 
          </li>
        </ul>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>

    </div>
</div>

