<% set_meta_tags :site => 'Yasub', :title => 'FAQ', :description => "Frequently Asked Questions. Online Subtitle and Closed Captioning Tool for Youtube Videos" %>

<div class='header-section span12'></div>
<div class='container '>
    <div class='row'>
        <div class='span8 offset2'>

            <h2>
              Frequently Asked Questions
            </h2>
            <ol>

              </br>
              <li><h4>What exactly is yasub.com ?</h4></li>
                It's an online tool that allows you to add subtitles/closed captioning to any youtube video, even one's that you do not own. All you need is a url.
              </br>
              <li><h4>Do the subtitles get embedded into the video?</h4></li>

                No. We simply overlay the text so the original video doesn't need to be modified. This means you do not need to go to youtube and reupload the video (all you do is share the link to the subtitled video)

              </br>
              </br>
              <li><h4>How do I let someone see my subtitled video</h4></li>
                Go to a video page (<a href="http://www.yasub.com/badwolf/X37nmFae-WE">sample</a>), and click the Share button where you can share it via Facebook/Google+ or copy paste the link.

              </br>
              </br>
              </br>

                 <%= image_tag "about_pix.jpg" %>

              </br>
              </br>
              <li><h4>Can I put the subs into the actual youtube video so youtube viewers can see it?</h4></li>

                If you are the owner of the youtube video, then yes, you can do it by visiting "Video Manager" section in youtube, going to your video, then uploading the .srt subtitle file which you can download from the subtitle editor page in yasub. Otherwise, if you don't own the video, you would have to contact the owner to have them upload the subtitle that you created.

                </br>
                </br>

                Of course, you can always just share the link to the subtitled video and anyone can see your work right away without having to go through the hassle of asking youtube publishers' permission to upload your subs.


              </br>
              </br>
              <li><h4>Can I subtitle a youtube video that I don't own</h4></li>
                Yes. because it simply overlays the text into the video, you can pretty much create multiple version of a subtitle for a single video. So say a video "Charlie bit my finger", can have 10 subs, each of which is created by different users.


              </br>
              </br>
              <li><h4>What languages do you support ?</h4></li>
                You can use any language you want for the subtitles. Whether it's Japanese, Russian, Somalian is totally up to you.

              </br>
              </br>
              <li><h4>How can I reach/contact you for questions/feedback/complaints.</h4></li>
                Via Email. <a href="mailto:info@yasub.com">info@yasub.com</a>.
            </ol>

              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>

        </div>
    </div>
</div>
