<% set_meta_tags :site => 'Yasub', :title => 'How it Works', :description => "The mechanics of how one can benefit from yasub captioning & subtitle tool" %>

<div class='container '>
    <div class='row'>
        <div class="header-section span12"></div>
        <div class='span8 offset2'>
            <h3>Make internet video more fun. Start Captioning!</h3>
            <ol>
                <li>
                    <div class='step'>
                        <h4>Paste a youtube url</h4>
                    </div>
                    <div class='video_usage'>

                    </div>
                </li>
                <li>
                    <div class='step'>
                        <h4>Start Timing</h4>
                        <span></span>
                    </div>
                    <div class='video_usage'>

                    </div>
                </li>
                <li>
                    <div class='step'>
                        <h4>Add Text</h4>
                        <span></span>
                    </div>
                    <div class='video_usage'>

                    </div>
                </li>
                <li>
                    <div class='step'>
                        <h4>Make Adjustments</h4>
                        <span></span>
                    </div>
                    <div class='video_usage'>

                    </div>
                </li>
                <li>
                    <div class='step'>
                        <h4>Start Timing</h4>
                        <span></span>
                    </div>
                    <div class='video_usage'>

                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
