<div class='header-section col-xs-12'></div>
<div class='center'>
  <h1 style='text-decoration: underline; color: brown;'>How it Works</h1>
</div>

<%= render "features" %>

<div class='header-section col-xs-12'></div>
<div class='center'>
  <a href="<%= new_user_registration_url %>" class='btn btn-danger btn-lg' style='font-size: 30px;'>Sign up for FREE</a>
</div>
<div class='header-section col-xs-12'></div>
<div class='header-section col-xs-12'></div>
<div class='header-section col-xs-12'></div>
