<div id="songs">

  <p>
    Songs
  </p>
  <ul>
    <% @songs.each do |song| %>
      <li id="<%= song.id %>"><%= link_to song.name, "#", :class => "song" %></li>
    <% end %>
  </ul>

  </br>
  </br>

  <div id="new">
    <button type="button" id="add_song_btn" class="btn btn-primary"/>Add Song</button>
  </div>
</div>
