<div id="top_container">
</div>

<div id="container">
  <div id="songs">

    <div id="with_sync_files">
      <p>
        Playable
      </p>
      <ul>
        <% @songs_with_sync_files.each do |song| %>
          <li id="<%= song.id %>"><%= link_to song.name, "#", :class => "song" %></li>
        <% end %>
      </ul>
    </div>

    </br>
    </br>

    <div id="no_sync_files">
      <p>
        Add SyncFiles to these Songs
      </p>
      <ul>
        <% @songs_no_sync_files.each do |song| %>
          <li id="<%= song.id %>"><%= link_to song.name, "#", :class => "song" %></li>
        <% end %>
      </ul>
    </div>

    <div id="new">
      <input type="button" name="" value="Add Song" id="add_song_btn"/>
    </div>
  </div>


  <div id="focus_container">

    <div id="media_container">
      <div id="media">

      </div>

      <table>
        <tr>
          <td id="left">
            <div id="media_sources">
            </div>
          </td>
          <td id="right">
            <div id="sync_files">
            </div>
          </td>
        </tr>
      </table>

      <div id="create">

      </div>

    </div>
    <div id="lyrics">
    </div>

  </div>

</div>
