<% set_meta_tags :site => 'Yasub', :title => 'Subtitle the Web. One video at a time.', :description => "Yasub is a community of people who subtitle internet videos into their own languages." %>

<div class='header-section span12'></div>


<h2 class='col-md-10 col-md-offset-1 center'>Subtitling Platform for Fans</h2>
<div class='center'>
  <span class=''>Watch, create, and request subtitles for your favorite online videos.</span>
</div>

<!-- <div class='share_home'>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Trending Videos in Japan - Subtitled Weekly" data-via="yasub_tv" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
 -->
<div class='row how_it_works'>
  <div class='how_it_works_item col-md-3 '>
    <div style='width: 100%; height: 100px; '>
      <i class='fa fa-group' style='line-height: 100px; color: cadetblue; font-size: 30px;'></i>
    </div>
    <span>Create a group (i.e. kpop, vocaloid, french lets play)</span>
  </div>
  <div class='how_it_works_item col-md-3'>
    <div style='width: 100%; height: 100px; '>
      <i class='fa fa-send'  style='line-height: 100px; color: cadetblue; font-size: 30px;'></i>
    </div>
    <span>Invite others to join.</span>
  </div>
  <div class='how_it_works_item col-md-3'>
    <div style='width: 100%; height: 100px; '>
      <i class='fa fa-video-camera'  style='line-height: 100px; color: cadetblue; font-size: 30px;'></i>
    </div>
    <span>Requests subtitles or help Translate them.</span>
  </div>
</div>

<div class='header-section span12'></div>
<div class='header-section span12'></div>

<h3 class='center'>Features</h2>
<div class='header-section span12'></div>


<div class='row home_features'>
  <div class='feature_item col-md-8 col-md-offset-2'>
    <img class="col-md-5" src="<%= asset_path("group_page.png") %>">
  </div>
  <div class='feature_item col-md-8 col-md-offset-2'>
    <img class="col-md-5" src="<%= asset_path("editor_view.png") %>">
  </div>
  <div class='feature_item col-md-8 col-md-offset-2'>
    <img class="col-md-5" src="<%= asset_path("translator_profiles.png") %>">
  </div>
  <div class='feature_item col-md-8 col-md-offset-2'>
    <img class="col-md-5" src="<%= asset_path("video_comments.png") %>">
  </div>
</div>

<div class='header-section span12'></div>



