<div class='row'>
    <div class='span8 offset2'>
        <h2>
            Tutorial
        </h2>
        <h4>
            Step 1: Open Editor
        </h4>
        <p>
        </p>

        <h4>
            Step 2: Add Subtitles
        </h4>
        <p>
        </p>

        <h4>
            Step 3: Save & Download Subtitles
        </h4>
        <p>
        </p>

        <h4>
            Step 4: Add Subtitles To Youtube
        </h4>
        <p>
        </p>


    </div>
</div>