<div class='header-section col-xs-12'></div>
<div class="background"></div>
<div class='request_index_container container'>

  <div class='center'>
  </div>

  <div class='row'>
    <div class="center">
      <h2>Requests</h2>
      <br>
      <br>
      <% if user_signed_in? %>
        <%= link_to '+ New Request', video_request_new_path, class: "new_request_btn btn btn-primary" %>
      <% else %>
        <span class='request_must_login_caption'>
          You must <%= link_to "log in", new_user_session_url(location: video_request_index_url), class: "request_must_login_btn" %> to request subtitles
        </span>
      <% end %>
    </div>
      
    <div class='global_requests section_block col-xs-10 col-xs-offset-1'>
      <div class="section_body">
        <div class='request_categories'>
          Status: 
          <%= select_tag("request_category_select", options_for_select(Request.request_category_select_options, request.url), class: "request_category_select") %>
        </div>

        <%= render "list" %>
      </div>
    </div>



  <div class='header-section col-xs-12'></div>

</div>
