<div class='row center group_header'>
  <div class="col-xs-12">
    <div id='avatar' >
      <div class="thumbnail">
        <%= image_tag @page.thumbnail_url  %>
      </div>
    </div>
    <span class="title river_gray"><%= @page.title %></span>
    <p class='col-xs-8 col-xs-offset-2'>
      <%= @page.description %>
    </p>
  </div>
</div>
