<div class='row'>
  <div class="col-xs-8  col-xs-offset-2" >
    <div class='center'>
      <h2>Link Account</h2>
    </div>
    <br>
    <br>

    <h4>Follow these steps to get started:</h4>
    <ol>
      <li>
        <h5>Connect Youtube Account</h5>
        <p>By clicking connect, you're approving users to subtitle your videos. This will also list your available videos and help you manage user subtitles.</p>
        <% if @identity.present? %>
          <span class='youtube_account_connected_label'>Connected</span>
          <br>
          <br>
          <a href="<%= current_user.try(:url) %>">Return to user profile</a>
        <% else %>
          <a class="btn btn-<%= social_button_provider_name(:google_oauth2) %>" href="<%= user_omniauth_authorize_path(:google_oauth2) %>">Connect</a>
        <% end %>
      </li>
    </ol>
    <br>
    <br>
  </div>
</div>

