.corner {
	opacity: 0.9;
	position: relative;
	/*vertical-align: bottom;*/
	top: 90px;
}

#current_time {
	display: inline;
	margin-left: 5px;
}

#total_time {
	display: inline;
	margin-right: 5px;
}

#subtitle_display {
	vertical-align:middle;
}

#subtitle_edit {
	background-color: black;	
	color: white;
	font-style: bold;
}

div#editor #video_name {
	float: left;
}
div#editor #video_url {
	/*float: left;*/
	color: gray;
	float: right;
}

div#editor #controls {
	padding: 10px;
}

textarea#transcript {
	width: 96%;
}

div#editor-bottom {
	margin-top: 20px;
}

#timeline_container {
  	padding: 10px;
	/*width: 1150px;*/
	height: 150px;
	/*margin-top: 15px;*/
	border: solid 1px black ;
}

#timeline_container #summary {
	height: 25px;
	border: solid 1px black ;
	position: relative;
	overflow: hidden;
}

#timeline_container #expanded {
	height: 110px;
	margin-top: 10px;
	border: solid 1px black ;
	position: relative;
	overflow: hidden;
}

.window_slider {
	border: solid 1px blue;
	position: absolute;
	height: inherit;
	background-color: lightblue;
	opacity: 0.5;
}

.filler {
	height: inherit;
}

.progress_bar {
	height: inherit;
	position: absolute;
	left: 0px;
	background-color: palegreen;
}

.scrubber {
	height: inherit;
	width: 1px;
	background-color: red;
	position: absolute;
	z-index: 1;
}

.time_indicator {
	border: solid 1px black;
	height: 20px;
	width: 90px;
	font: normal 15px Helvetica;
	position: absolute;
	z-index: 3;
	background-color: rgba(255,255,255,0.5);
}

.track.ghost {
	border: dotted 1px gray;
}

.track {
	height: inherit;
	/*background-color: lightcoral;*/
	background-color: #A3D4A3;
	position: absolute !important;
	border: solid 1px gray;
}

.track.selected {
	background-color: lightcoral !important;
}

.track:hover {
	background-color: moccasin;
}

#subtitle_container {
	margin-left: 20px;
  	padding: 10px;
	height: 330px;
	border: solid 1px black ;
	overflow-y: scroll;
	overflow-x: hidden;
}

#subtitle_container table {
	width: 100%;
}

#subtitle_container table td {
	padding: 0px;
}

.subtitle {
/*	height: auto;
	display: inline-block;
	margin-top: -5px;
	width: 100%;
*/}

.subtitle.mapped {
/*	background-color: peachpuff;
	border: solid 1px lightcoral;
*/}


.subtitle:hover {
	background-color: moccasin;
	/*border: solid 1px gray;*/
}

.subtitle button.close {
	opacity: 0.9;
}

.subtitle.selected {
	background-color: lightcoral !important;
	color: white;
	/*border: solid 1px gray;*/
}

.subtitle .start_time,
.subtitle .end_time,
.subtitle .text {
	float: left;
	display: block;
}

.subtitle .start_time,
.subtitle .end_time {
	width: 60px;
	margin-right: 10px;
	height: 20px;
}

.subtitle .text {
	width: 240px;
}

.subtitle input.inplace_field {
	height: 10px;
	line-height: 10px;
	margin-bottom: 0px !important;
}

.subtitle .delete {
	width: 10px;
	float: right;
}

#controls #start_timing_btn i {
	color: #B3192D;
}

#controls #stop_timing_btn i {
	color: #333;
}
