#timeline_container {
  	padding: 10px;  
	width: 700px;
	height: 150px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black ;
}

#timeline_container #summary {
	height: 35px;
	border: solid 1px black ;
	position: relative;
	overflow: hidden;
}

#timeline_container #expanded {
	height: 100px;
	margin-top: 10px;
	border: solid 1px black ;
	position: relative;
	overflow: hidden;
}

.filler {
	height: inherit;
}

.scrubber {
	height: inherit;
	width: 1px;
	background-color: red;
	position: absolute;
	z-index: 1;
}

.track.ghost {
	border: dotted 1px gray;
	background-color: transparent;
}

.track {
	height: inherit;
	background-color: cadetblue;
	position: absolute;
}

.track:hover {
	background-color: darkkhaki;
}

#subtitle {
  	padding: 10px;  
	width: 700px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black ;
}

.subtitle_line {
	height: 1em;
}

.subtitle_line.selected {
	background-color: yellow;
	border: solid 1px gray;
}

.subtitle_line .start_time,
.subtitle_line .end_time,
.subtitle_line .text {
	float: left;	
	display: block;
}

.subtitle_line .start_time,
.subtitle_line .end_time {
	width: 60px;
	margin-right: 10px;
	height: 1px;
}
