text.time {
	font-size: 12px;
}

#current_time {
	display: inline;
	margin-left: 5px;
}

#total_time {
	display: inline;
	margin-right: 5px;
}

#subtitle_display {
}

#subtitle_edit {
	background-color: black;	
	color: white;
	font-style: bold;
}

div#editor {
	margin-top: 20px;
}

div#editor #repo_label,
div#player #repo_label {
	float: left;
}

div#editor #repo_owner, 
div#player #repo_owner {
	color: gray;
}

div#editor #video_url, 
div#player #video_url {
	/*float: left;*/
	color: gray;
	float: right;
}

div#editor #controls,
div#player #controls {
	padding: 10px;
	margin-top: 10px;
}

textarea#transcript {
	width: 96%;
}

div#editor-bottom {
	margin-top: 20px;
}

#timeline_container {
  	/*padding: 10px;*/
	/*border: solid 1px black ;*/
}

#summary.timeline {
	height: 15px;
	border: solid 1px black ;
	position: relative;
	overflow: hidden;
}

#expanded.timeline {
	height: 110px;
	border: solid 1px black ;
	position: relative;
	overflow: hidden;
}

.window_slider {
	border: solid 2px blue;
	position: absolute;
	height: 12px;
	background-color: lightblue;
	opacity: 0.5;
	z-index: 5;
}

.filler {
	height: inherit;
}

#expanded #track_viewport {
	height: 95px;
	width: inherit;
	border-bottom: solid 1px gray;
	position: relative;
	overflow: hidden;
}

#expanded #time_label {
	height: 15px;
	width: inherit;
}

.progress_bar {
	height: inherit;
	position: absolute;
	left: 0px;
	background-color: palegreen;
}

.scrubber {
	height: inherit;
	width: 1px;
	background-color: red;
	position: absolute;
	z-index: 1;
}

.time_indicator {
	border: solid 1px black;
	height: 20px;
	width: 90px;
	font: normal 15px Helvetica;
	position: absolute;
	z-index: 3;
	background-color: rgba(255,255,255,0.5);
}

.track.ghost {
	border: dotted 1px gray;
}

.track {
	height: inherit;
	/*background-color: lightcoral;*/
	background-color: #A3D4A3;
	position: absolute !important;
	border: solid 1px gray;
	font-size: 10px;
}

.track .close {
	opacity: 0.9;
	position: relative;
	/*vertical-align: bottom;*/
	top: 70px;
}


.track.selected {
	background-color: lightcoral ;
}

.track.selected:hover {
	background-color: lightcoral ;
}
.track:hover {
	background-color: moccasin;
}

#subtitle_container {
	margin-left: 20px;
  	padding: 10px;
	border: solid 1px black ;
}

#subtitle_container #controls_extra {
	margin-left: 0px;
  	padding: 10px;
  	margin-top: 10px;
}

#subtitle_list {
  	padding: 10px;
	height: 245px;
	overflow-y: scroll;
	overflow-x: hidden;
	/*border: solid 1px black;*/
}

#subtitle_list table {
	width: 100%;
}

#subtitle_list table td {
	padding: 0px;
}

.subtitle {
/*	height: auto;
	display: inline-block;
	margin-top: -5px;
	width: 100%;
*/}

.subtitle.mapped {
/*	background-color: peachpuff;
	border: solid 1px lightcoral;
*/}


.subtitle:hover {
	background-color: moccasin;
	/*border: solid 1px gray;*/
}

.subtitle button.close {
	opacity: 0.9;
}

.subtitle.selected {
	background-color: lightcoral !important;
	color: white;
	/*border: solid 1px gray;*/
}

.subtitle .start_time,
.subtitle .end_time,
.subtitle .text {
	float: left;
	display: block;
}

.subtitle .start_time,
.subtitle .end_time {
	width: 60px;
	margin-right: 10px;
	height: 20px;
}

.subtitle .text {
	width: 240px;
}

.subtitle input.inplace_field {
	height: 10px;
	line-height: 10px;
	margin-bottom: 0px !important;
}

.subtitle .delete {
	width: 10px;
	float: right;
}

#controls #start_timing_btn i {
	color: #B3192D;
}

#controls #stop_timing_btn i {
	color: #333;
}

div#player-bottom {
}

div#time_float {
	height: 20px;
	z-index: 5;
	position: absolute;
	padding: 1px;
	border: solid 1px violet;
	margin-top: -50px;
	background-color: white;
}

div#seek_head {
	cursor: hand; 
	cursor: pointer;
	width: 10px;
	height: 20px;
	position: absolute;
	margin-top: -5px;
	margin-left: -4px;
	z-index: 5;
}

div#seek_head_body {
	width: 8px;
	height: 10px;
	background-color: #eee;
	border: solid 1px black;
}

div#seek_head_corner {
	width: 0;
	height: 0;
	line-height: 0;
	border: solid 5px #eee;
	border-color: transparent transparent gray transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	top: 15px;
	left: 13px;
}

div#keyboard-shortcuts {
	margin-top: 10px;
	font-size: 10px;
}

/*#language_select {
	width: 150px;	
}*/