// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#menu {
  text-align: center;
}

input[type=button], input[type=submit] {
  font-size: 20px;
}

div#top_container {
  width: 1150px;
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


div#container {
  margin-left: auto;
  margin-right: auto;
  width: 1450px;
  height: 900px;
}

textarea#lyrics {
  font: 18px monospace;
  float: left;
  clear: both;
}

textarea#song_lyrics {
  vertical-align: text-top;
}

div#songs_with_sync_files {
  margin-left: 20px;
  width: 250px;
  height: 450px;
  float: left;
  font: 16px monospace;
}

div#songs {
  float: left;
}

div#new_song {
  float: left;
}

div#songs li.selected {
  background-color: mediumaquamarine;
}

div#media_container {
  margin-left: 15px;
  width: 550px;
  height: 450px;
  float: left;
  text-align: right;
}

div#media_container table {
  width: 100%;
}

div#media_container div#media_sources {
  text-align: left;
}

div#media_container div#create {
  text-align: left;
}

div#media_sources {
  margin-top: 15px;
}

div#lyrics {
  margin-left: 30px;
  width: 500px;
  height: 450px;
  float: left;
}

div#lyrics tr {
  height: 1em;
}

div#lyrics .line {
  height: 1em;
  font-family: monospace;
}

div#lyrics .line.selected {
  height: 1em;
  background-color: yellow;
}

div#lyrics .time_slot {
  height: 1em;
  width: 30px;
  border: dotted 1px green;
  text-align: center;
  margin-left: 20px;
}

div#create_sync_file p {
  font-size: 18px;
  font-family: monospace;
  color: red;
}

div.field {
  margin: 5px;
}

input[type=button], input[type=submit] {
  margin: 15px;
}

li#sync_file.selected, li#media_source.selected {
  background-color: bisque;
}

