// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#menu {
  text-align: center;
}

input[type=button], input[type=submit] {
  font-size: 20px;
}

div#main_container {
  margin-top: 20px;
}

div#top_container {
  width: 1170px;
  height: 400px;
  margin-top: 20px;
  margin: auto;
}


div#container {
  margin-left: auto;
  margin-right: auto;
  width: 1450px;
  height: 900px;
}

textarea#song_lyrics {
  vertical-align: text-top;
}

div#songs_with_sync_files {
  margin-left: 20px;
  width: 250px;
  height: 450px;
  float: left;
  font: 16px monospace;
}

div#songs {
  float: left;
}

div#new_song {
  float: left;
}

div#songs li.selected {
  background-color: mediumaquamarine;
}

div#media_container {
  float: left;
  padding: 10px;  
  width: 600px;
  height: 370px;
  border: solid 1px black ;
  margin-right: 15px;
}

div#media {
  height: 350px;
}

div#subtitle_bar {
  background-color: black;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}


div#media_container div#media_sources {
  text-align: left;
}

div#media_sources {
  margin-top: 15px;
}

div#sync_container {
  width: 700px;
  margin-left: 30px;
}

div#sync_mode_controls {
}

div#lyrics {
  width: inherit;
  height: 450px;
  clear: both;
}

div#lyrics tr, div#subtitle tr{
  height: 1em;
}

div#lyrics .line, div#subtitle .line {
  height: 1em;
  font-family: monospace;
}

div#lyrics .line.selected {
  height: 1em;
  background-color: yellow;
}

div.field {
  margin: 5px;
}

input[type=button], input[type=submit] {
  margin: 15px;
}

div#position_indicator {
  width: 2px;
  height: 14px;
  background-color: red;
  position: absolute;
}

div.timespan {
  width: 150px;
}

div.timespan .start_time, div.timespan .waveform, div.timespan .end_time {
  float: left;
  margin-right: 10px;
  font-family: monospace;
  height: 1em;
}

div.timespan .start_time {
  width: 15px;
  text-align: right;
}

div.timespan .start_time, .end_time {
  display: none;
}

div.timespan .waveform {
  background-color: cadetblue;
}


