.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div#header {
  margin-top: 20px;
}

div#media_input {
  margin-top: 100px;
}

div#songs {
  margin-top: 100px;
}

div#songs li h6 {
  line-height: 1em;
}

div#songs li.selected {
  background-color: mediumaquamarine;
}

div#media_container {
  padding: 10px;
  width: inherit;
  height: 310px;
  border: solid 1px black ;
  /*margin-right: 15px;*/
}

div#media {
  height: 250px;
}

div#media #iframe_overlay {
  height: inherit;
  width: 540px;
  position: absolute;
  z-index: 2;
  background-color: white;
  opacity: 0;
}

div#subtitle_bar {
  background-color: black;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}
