<form class="add_release_item" data-release-id="<%= @release.id %>">
  <div class="control-group">
    <div class="input-append">
      <input name="source_url" class="source_url" type="text" placeholder="Paste youtube url">
      <button type="button" class="btn btn-danger sub_btn" data-loading-text="Loading...">Add</button>
    </div>
  </div>
</form>
